leptonic-link {
    display: inline-flex;
    color: var(--link-color);

    &.leptonic-anchor::before {
        content: "\00a0";
    }

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: auto;
        color: inherit;
        cursor: pointer;
        font-size: 1em;
    }
}