* {
    font-family: Roboto, sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    min-height: var(--leptonic-vh, 100vh);
    height: 100%;
    display: flex;
    flex-direction: column;
}

@import "./leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #8856e6;
}

[data-theme="dark"] {
    --brand-color: #8856e6;
}
