// Upstream: ../starters/docs/src/Link.css @ 99e610236
// Upstream: ../starters/docs/src/Link.tsx @ 99e610236
//
// `Link`, `AnchorLink`.

.leptonic-Link,
.leptonic-AnchorLink {
  color: var(--link-color);
  font-size: var(--font-size);
  transition-property: color, text-decoration-thickness;
  transition-duration: 200ms;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  position: relative;
  border-radius: var(--radius-sm);
  -webkit-tap-highlight-color: transparent;

  &[data-hovered] {
    text-decoration-thickness: 1.5px;
  }

  &[data-pressed] {
    color: var(--link-color-pressed);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
  }

  &[data-disabled] {
    cursor: default;
    color: var(--text-color-disabled);
  }
}
