.leptonic-icon {
    --margin: 0;

    display: inline-flex;
    user-select: none;
    margin: var(--margin);

    width: var(--icon-width, 1rem);
    height: var(--icon-height, 1rem);

    svg {
        fill: currentColor;
        width: 100%;
        height: 100%;
    }
}
