.leptonic-meter {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;

    .leptonic-meter-header {
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }

    .leptonic-meter-track {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: var(--meter-height);
        background-color: var(--meter-background-color);
        border-radius: var(--meter-border-radius);
        box-shadow: var(--meter-background-box-shadow);

        .leptonic-meter-fill {
            height: 100%;
            border-radius: var(--meter-border-radius);
            background-color: var(--meter-fill-background-color);
            transition: var(--meter-fill-transition);
        }
    }
}
