leptonic-radio {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    width: var(--radio-size);
    min-width: var(--radio-size);
    height: var(--radio-size);
    min-height: var(--radio-size);

    border: var(--radio-border);
    border-radius: var(--radio-border-radius);

    border-color: var(--radio-border-color);
    background-color: var(--radio-background-color);

    leptonic-radio-fill {
        display: block;
        width: var(--radio-fill-size);
        min-width: var(--radio-fill-size);
        height: var(--radio-fill-size);
        min-height: var(--radio-fill-size);
        border-radius: var(--radio-border-radius);
    }

    &[aria-checked="true"] {
        border-color: var(--radio-checked-border-color);
        leptonic-radio-fill {
            background-color: var(--radio-checked-fill-background-color);
        }
    }

    &:hover {
        border-color: var(--radio-hover-border-color);
    }

    &[aria-disabled="true"] {
        filter: var(--radio-disabled-filter);
        cursor: not-allowed;
        pointer-events: none;
    }
}
