.leptonic-collapse {
    overflow: hidden;

    &.width {
        transition: width 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    }

    &.height {
        transition: height 0.3s cubic-bezier(0.42, 0, 0.58, 1);
    }

    .content {
        visibility: hidden;

        &.show {
            visibility: visible;
        }
    }
}

.leptonic-fade {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &[data-in] {
        opacity: 1;
    }
}