leptonic-collapsible {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    leptonic-collapsible-header-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: var(--collapsible-header-padding);
        color: var(--collapsible-header-color);
        background-color: var(--collapsible-header-background-color);
        cursor: pointer;
        user-select: none;

        leptonic-collapsible-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    leptonic-collapsible-body {
        width: 100%;
        display: none;
        justify-content: flex-start;
        padding: var(--collapsible-body-padding);
        color: var(--collapsible-body-color);
        background-color: var(--collapsible-body-background-color);

        &.show {
            display: flex;
        }
    }
}
