leptonic-app-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--app-bar-color);
  background-color: var(--app-bar-background-color);
  border-bottom: var(--app-bar-border-bottom);
  width: 100%;
  height: var(--app-bar-height);
  z-index: 1000;
  box-shadow: var(--app-bar-box-shadow);
  overflow: hidden;
}
