leptonic-app-bar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--app-bar-background-color);
  border-bottom: var(--app-bar-border-bottom);
  width: 100%;
  height: var(--app-bar-height);
  z-index: 999;
  box-shadow: var(--app-bar-border-bottom);
}
