@mixin input-field() {
  display: flex;
  position: relative;

  width: 100%;

  padding: var(--input-padding);
  margin: 0;

  color: var(--input-color);
  background-color: var(--input-background-color);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: var(--input-border);
  border-radius: var(--input-border-radius);

  -webkit-transition: border-color ease-in-out 0.1s, -webkit-box-shadow ease-in-out 0.1s;
  -o-transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;

  &,
  &:focus,
  &:active {
    outline: none;
  }

  &:focus,
  &:active {
    border-color: var(--input-focused-border-color);
  }
}

.leptonic-input {
  display: flex;

  input {
    @include input-field();
  }
}
