leptonic-popover {
    display: none;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    position: absolute;
    z-index: 10;
    width: 100%;

    &.show {
        display: flex;
    }

    leptonic-popover-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: var(--popover-content-background-color);
        padding: 0.3em 0.5em;
        border-radius: 0.25em;
        top: -2.5em;
    }
}