.leptonic-popover-trigger {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.leptonic-popover {
    width: fit-content;
    padding: var(--popover-padding, 0.3em 0.5em);
    border-radius: var(--popover-border-radius, 0.25em);
    color: var(--popover-color);
    background-color: var(--popover-background-color);
}
