leptonic-modal.quicksearch-modal {
    margin: auto;
    width: auto;
    min-width: unset;
    max-width: 45em;
    margin-top: -33vh;

    leptonic-modal-header {
        padding: 0;

        leptonic-input {
            width: 100%;

            input.search-input {
                width: 100%;
                background-color: transparent;
                border: 0.125em solid var(--brand-color);
                border-radius: 0.4em;
                font-size: 1.4em;
            }
        }
    }

    leptonic-modal-body {
        padding: 1em 0;
    }

    leptonic-quicksearch-results {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        leptonic-quicksearch-result {
            width: 100%;
            border: 0.1em solid lightgrey;
            border-radius: 0.4em;
            padding: 0; // Gives the opportunity to let the content own all the space (for example a link).
            margin-bottom: 0.5em;
            cursor: pointer;
        }
    }
}

leptonic-quicksearch {
    display: flex;
    justify-content: center;
    align-items: center;

    leptonic-quicksearch-trigger {
        display: flex;
        padding: var(--input-padding);
        color: #7c7c7c;
        margin: auto;
        background-color: transparent;
        border: 1px solid lightgrey;
        border-radius: 0.4em;
        cursor: pointer;
        user-select: none;
    }

    .input-with-btn {
        position: relative;
        width: 100%;
        display: flex;

        input {
            border-top-left-radius: 0.25em;
            border-bottom-left-radius: 0.25em;
            min-height: unset;
            background-color: rgb(240, 240, 240);
            color: #4b4b4b;
            border: 1px solid;
            border-right: 0;
            border-color: #565656;
            cursor: pointer;
        }

        .leptonic-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #787878;
            border-left: 0;
            border-color: #565656;
            cursor: pointer;

            leptonic-icon {
                margin: 0;
            }
        }
    }

    .dropdown {
        position: absolute;
        background-color: rgb(240, 240, 240);
        width: 100%;
        border: 1px solid grey;
        border-radius: 0.25em;
        margin-top: 0.5em;
    }

    .option {
        padding: 0.75em;
        color: black;
        border-top: 1px solid transparent;
        border-bottom: 1px solid grey;
        cursor: pointer;

        &.preselected {
            background-color: #008de7;
            color: #fafafa;
        }
    }
}