leptonic-select {
    position: relative;
    border: none;
    cursor: pointer;

    leptonic-select-selected {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        z-index: 2;
        width: 100%;
        min-height: var(--select-min-height);

        padding: var(--select-padding);
        margin: 0;

        color: var(--select-selected-color);
        background: var(--select-selected-background-color);

        border: var(--select-selected-border);
        border-bottom: var(--select-selected-border-bottom);
        border-radius: var(--select-selected-border-radius);

        &:focus {
            outline: none;
            border-bottom: var(--select-focus-highlight-background-color);
        }

        leptonic-select-deselect-trigger {
            position: absolute;
            right: 2.2em;
            color: #878787;
            background-color: #353535;
            border-radius: 1em;
            font-size: 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: var(--input-color);
            }
        }

        leptonic-select-show-trigger {
            position: absolute;
            right: 0.75em;
            margin-top: 0.1em;
            color: #bfbfbf;
            border-radius: 1em;
            font-size: 1.1em;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                color: var(--input-color);
            }
        }
    }

    &[variant="multiselect"] {
        leptonic-select-selected {
            leptonic-select-option {
                leptonic-chip {
                    margin: 0.1em 0.4em 0.1em 0;
                    border-radius: 0.8em;
                }
            }
        }
    }

    leptonic-select-options {
        position: absolute;
        display: none;
        flex-direction: column;
        /* max-width: 30em; */
        width: 100%;
        background-color: var(--select-dropdown-background-color);
        box-shadow: var(--select-dropdown-shadow); // 6px 8px 20px -7px #0d0d0d
        border: none; //0.1em solid #242424;
        border-top: none;
        max-height: 12em;
        overflow-y: scroll;
        z-index: 999;

        &.shown {
            display: flex;
        }

        leptonic-select-option {
            padding: 0.5em;
            user-select: none;

            &:hover {
                background-color: var(--select-item-hover-background-color);
            }

            &.disabled {
                color: var(--select-item-disabled-color);
                background-color: var(--select-item-disabled-background-color);
            }

            &.preselected {
                background-color: var(--select-item-preselected-background-color);
            }
        }
    }
}