@use "sass:math";

$bar-height: 0.75em;
$knob-size: 1.75em;

.leptonic-slider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    user-select: none;
    height: $knob-size;
    width: 100%;

    .bar {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        width: calc(100% - #{$knob-size});
        height: $bar-height;
        background-color: #ccc;
        transition: 0s;

        &:focus {
            box-shadow: 0 0 0.1em #2196f3;
        }
    }

    .knob-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -(math.div($knob-size, 2));
        top: -0.5em;
    }

    .knob {
        content: "";
        position: absolute;
        height: $knob-size;
        width: $knob-size;
        background-color: #2196f3;
        transition: 0s;
        // The knob position is determined by setting the "left" attribute programmatically with a percentage value.
    }

    &.round {
        .bar {
            border-radius: math.div($bar-height, 2);
        }
        .knob {
            border-radius: math.div($knob-size, 2);
        }
    }
}
