// TODO: Allow different out-of-the-box color styles.

$nob-width: 1.75em;
$nob-transition: 0.3s;

.leptonic-toggle-wrapper {
    display: inline-flex;
    flex-direction: row;
    user-select: none;

    leptonic-icon {
        margin: 0;
        font-size: 1.2em;
        color: var(--toggle-icon-color);
    }

    .leptonic-toggle {
        display: inline-flex;
        height: $nob-width;

        &[variant="sliding"] {
            width: 3.5em;
        }
        &[variant="stationary"] {
            width: $nob-width;
        }

        .slider {
            position: relative;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-color: var(--toggle-slider-off-background-color);
            transition: $nob-transition;

            .icon-positioner {
                position: absolute;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: $nob-width;
                transition: $nob-transition;
            }
        }

        .slider:before {
            content: "";
            height: 100%;
            width: $nob-width;
            background-color: var(--toggle-knob-background-color);
            transition: $nob-transition;
        }

        .slider.on {
            background-color: var(--toggle-slider-on-background-color);
        }

        .slider:focus {
            box-shadow: 0 0 0.1em var(--brand-color);
        }

        &[variant="sliding"] {
            .slider.on {
                &:before,
                .icon-positioner {
                    transform: translateX(1.75em);
                }
            }
        }

        .slider.round {
            border-radius: 2em;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
}
