// Upstream: ../starters/docs/src/Separator.css @ 99e610236
// Upstream: ../starters/docs/src/Separator.tsx @ 99e610236
//
// `Separator` (an `<hr>`, or a `<div>` when vertical).

.leptonic-Separator {
  background-color: var(--gray-500);
  border-style: none;
  border-radius: 1px;
  height: 2px;
  width: 100%;

  &[aria-orientation='vertical'] {
    width: 2px;
    min-height: 32px;
    height: 100%;
  }
}
