$size: 0.25em;
$stile: solid;
$color: black;

.arrow-up {
    width: 0;
    height: 0;
    border-left: $size $stile transparent !important;
    border-right: $size $stile transparent !important;
    border-bottom: $size $stile $color;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: $size $stile transparent !important;
    border-right: $size $stile transparent !important;
    border-top: $size $stile $color;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: $size $stile transparent !important;
    border-bottom: $size $stile transparent !important;
    border-left: $size $stile $color;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: $size $stile transparent !important;
    border-bottom: $size $stile transparent !important;
    border-right: $size $stile $color;
}
