/*
  UNUSED

  .leptonic-tooltip-origin {
    cursor: pointer;
    user-select: none;

    &.leptonic-column-tooltip, &.leptonic-field-tooltip {
      margin-left: .25em;
    }
  }

  .leptonic-tooltip-icon {
    font-size: 1.4em;
    color: #0d517e;
  }
  */
