leptonic-card {
    display: block;
    padding: 1.75em;
    background-color: var(--card-background-color);
    border-radius: 0.25em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    box-shadow: -2px 3px 15px -6px var(--card-box-shadow-color);
}
