leptonic-kbd-shortcut {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

leptonic-kbd-key {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--leptonic-kbd-key-color);
    background-color: var(--leptonic-kbd-key-background-color);
    margin: var(--leptonic-kbd-key-margin);
    padding: var(--leptonic-kbd-key-padding);
    border-radius: var(--leptonic-kbd-key-border-radius);
    border-width: 0.1em 0.2em 0.25em 0.1em;
    border-color:  var(--leptonic-kbd-key-border-color);
    border-style: solid;
    font-weight: 700;
}

leptonic-kbd-concatenate {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--leptonic-kbd-concatenate-color);
    background-color: var(--leptonic-kbd-concatenate-background-color);
    margin: var(--leptonic-kbd-concatenate-margin);
    padding: var(--leptonic-kbd-concatenate-padding);
    border-radius: var(--leptonic-kbd-concatenate-border-radius);
}